<div class="footer-dark" id="footer-dark">
  <div class="dark-overlay" style="padding: 50px 0;">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>Services</h3>
            <ul>
              <li><a [routerLink]="['/services']">Consultancy</a></li>
              <li><a [routerLink]="['/services']">Asset Protection</a></li>
              <li><a [routerLink]="['/services']">Asset Growth</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a [routerLink]="['/about']">Company</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h3>Golden Roads Management</h3>
            <ul>
              <li (click)="openDialog()">
                <a style="cursor: pointer;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col item social">
            <a href="#"> <i class="icon ion-social-facebook"></i> </a>
            <a href="#"> <i class="icon ion-social-twitter"></i> </a>
            <a href="#"> <i class="icon ion-social-snapchat"></i> </a>
            <a href="#"> <i class="icon ion-social-instagram"></i> </a>
          </div>
        </div>
        <p style="color: white !important;" class="copyright">
          Golden Roads Management© 2019
        </p>
      </div>
    </footer>
  </div>
</div>
