<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field appearance="outline">
      <input [ngClass]="{'is-invalid': errors.hasOwnProperty('name')}" matInput name="name" ngModel type="text" required placeholder="Name"
        #nameInput="ngModel">
      <mat-error *ngIf="Object.keys(errors).length && errors.hasOwnProperty('name')">{{errors.name}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input [ngClass]="{'is-invalid': errors.hasOwnProperty('email')}" matInput name="email" ngModel type="email" required email
        placeholder="Email" #emailInput="ngModel">
      <mat-error *ngIf="Object.keys(errors).length && errors.hasOwnProperty('email')">{{errors.email}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input [ngClass]="{'is-invalid': errors.hasOwnProperty('password')}" type="password" name="password" ngModel matInput required
        placeholder="Password" #passwordInput="ngModel">
      <mat-error *ngIf="Object.keys(errors).length && errors.hasOwnProperty('password')">{{errors.password}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input [ngClass]="{'is-invalid': errors.hasOwnProperty('password2')}" type="password" name="password2" ngModel matInput required
        placeholder="Repeat Password" #passwordInput="ngModel">
      <mat-error *ngIf="Object.keys(errors).length && errors.hasOwnProperty('password2')">{{errors.password2}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Signup</button>
  </form>
</mat-card>