<div id="landing">
  <section id="hero">
    <div
      id="hero-container"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div
        class="d-flex flex-column justify-content-center align-items-center"
        id="hero-content"
      >
        <h1><span class="golden">Golden Roads</span> Management</h1>
        <h1>Never sacrifice the dream for the mundane</h1>
        <button (click)="openDialog()" class="btn" type="button">
          Contact Us
        </button>
      </div>
    </div>
  </section>
  <section id="welcome-section">
    <div class="container flex-column align-items-center">
      <h1 class="text-center section-title">Our Mission</h1>
      <div>
        <!--<img />-->
        <p>
          At GoldenRoad Capital, our knowledge, skills and expertise are
          translated into developing successful investment strategies and long
          term partnerships with our clients. We are committed to having an
          understanding of with the equity/debt markets, stock trading, currency
          trading and crypto currency markets – to create dynamic and a
          diversified risk portfolio of asset growth vehicles, that are alpha
          class in the current industry. We out do the largest hedgefund in the
          world’s rates often by 5% or higher, including Ray Dalio’s Bridgewater’s
          which generated 14.5% in 2018.
        </p>
        <p>We did well above 25%.</p>
        <p>
        We offer our clients a wide range of small to medium sized investment strategies and services such as asset protection.
        </p>
      </div>
    </div>
    <div class="container flex-column align-items-center">
      <h1 class="text-center section-title">How we do our magic</h1>
      <!--<hr />-->
      <div>
        <!--<img />-->
        <p>
          Our growth strategy is as simple as it focused. We trade effeciently
          on technical indicators when the market is either oversold or
          overbought. We are also assisted by algorithms capable of predicting
          market movement correctly over large data sets. Additionnaly, we also
          keep in mind the bigger macro picture and strive to have a coherent
          strategy regardless of the direction of the market. <br /><br />
          We recognise the power of algorithmic trading, and have developed our
          own system. However, we also recognise it’s dangers, which is why our system
          always has traders at the helm able to make the final decision before
          algorithmic trades execute any high risk, high value propositions. 
          <br /><br />
          We are also commited to innovation, and systematically test uncharted
          waters with new algorithms and trading strategies, albeit with smalls
          amount until reliability of returns has been established. A careful set
          inhouse procedure ensures that we are always in the green, whether the
          market is up or down.
        </p>
      </div>
    </div>
  </section>
  <!-- <div id="contact-section" class="contact-clean">
    <div class="dark-overlay">
      <form (submit)="handleSubmit(contactFrom)" #contactFrom="ngForm">
        <h2 class="text-uppercase text-center">Contact us</h2>
        <div *ngIf="contact && contact.success" class="alert alert-success" role="alert">
          {{contact.success}}
        </div>
        <div *ngIf="errors && errors.failure" class="alert alert-danger" role="alert">
          {{errors.failure}}
        </div>
        <div class="form-group">
          <input type="text" [ngClass]="{'form-control': true, 'is-invalid': errors.hasOwnProperty('name')}" placeholder="Name" name="name"
            ngModel #nameInput="ngModel" />
          <div *ngIf="errors.name" class="invalid-feedback">{{errors.name}}</div>

        </div>
        <div class="form-group">
          <input type="email" [ngClass]="{'form-control': true, 'is-invalid': errors.hasOwnProperty('email')}" placeholder="Email Address"
            name="email" ngModel #emailInput="ngModel" />
          <div *ngIf="errors && errors.email" class="invalid-feedback">{{errors.email}}</div>
        </div>
        <div class="form-group">
          <textarea [ngClass]="{'form-control': true, 'is-invalid': errors.hasOwnProperty('message')}" placeholder="Message" name="message"
            ngModel #messageInput="ngModel" rows="14"></textarea>
          <div *ngIf="errors && errors.message" class="invalid-feedback">{{errors.message}}</div>

        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            send
          </button>
        </div>
      </form>
    </div>
  </div> -->
  <section id="services-section">
    <div class="container">
      <h1 class="text-center" id="services-heading">Our services</h1>
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <img src="assets/img/progress-report.svg" />
              <h4>Asset Growth</h4>
            </div>
            <!-- <hr />
            <p class="card-text">
              Predictable Bonanza (6% first year, 7% second year, 8% third year): this is our safe and guaraenteed Bigstakes Big returns:
              this is a 5050 profits split option we have for early investors (will no longer be available once asset management
              has exceeded 300,000,000 pounds). Returns can be as high as 9-11% or are as low as 5% (guaraenteed minimum).
              This is only available to clients putting down 500,000 euros or more
            </p>
            <button class="btn btn-primary" type="button">
              Learn More
            </button> -->
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <img src="assets/img/shield.svg" />
              <h4>Asset Protection</h4>
            </div>
            <!-- <hr />
            <p class="card-text">
              In need of asset movement or non-disclosure? Golden roads provides asset protection for defined term periods and is able
              to return them efficiently and unscathed whenever it is required.
            </p>
            <button class="btn btn-primary" type="button">
              Learn More
            </button> -->
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <img src="assets/img/businessman.svg" />
              <h4>Consultancy</h4>
            </div>
            <!-- <hr />
            <p class="card-text">
              Thinking of involving your company in blockchain and crypto-assets? Unsure of how to move forward? Our team of specialists
              will help your firm transition and take advantage of this new world, pointing out how your existing specialities
              can be transformed and leveraged in a booming market with no shortage of land to be grabbed.
            </p>
            <button class="btn btn-primary" type="button">
              Learn More
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="team" id="team">
    <div class="container">
      <h1 class="text-center section-title">Our Team</h1>
      <div class="members">
        <div class="member">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="pierre-header-image"></div>
              <mat-card-title>Pierre Grolier</mat-card-title>
              <mat-card-subtitle>Chief Investement Officer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Mr. Grolier completed his M.A. at University of Kent in computer
                science in 2017. His thesis presented physical and intrinsic
                time-based strategies for algorithmic trading. He has recently
                completed his graduate diploma in information technology at
                Epitech. For the last few years, he has primarily focused on
                trading in the cryptocurrency market.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="member">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="irakli-header-image"></div>
              <mat-card-title>Irakli</mat-card-title>
              <mat-card-subtitle>Chief Trader</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                Mr. Irakli finished international business faculty in Georgian
                University. He also extensively studied fx trading both in
                Georgia and in the US. He has 15 years experience in business
                trading, and during that time he not only tested various trading
                strategies and indicators, but also maximized his success by
                studying naked charts
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="member">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="promth-header-image"></div>
              <mat-card-title>Promyth Ius</mat-card-title>
              <mat-card-subtitle
                >Chief of Commuinications and R&D</mat-card-subtitle
              >
            </mat-card-header>
            <mat-card-content>
              <p>
                Mr. Promythius specializes in development and client relations.
                He is expected to complete his MSc in Computer Science
                from the University of Kent in 2019/20. After completing a B.A.
                in sociology, and worked as a marketing consultant at AC Nielsen and
                Milward Brown in 2012-2014 before transitioning to programming and data science.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
</div>
