<div class="about-hero">
  <div class="dark-overlay"><h1>About Golden Roads Capital</h1></div>
</div>
<div class="about-background">
  <div class="white-overlay">
    <div class="container">
      <div class="row">
        <div class="col-10 about-text">
          <h1>Our Mission Statement</h1>
          <p>
            As traditional financial arenas such as investment in stocks,
            exemplified by the most recent bubble burst in 2018, and financial
            Instruments like derivatives, or at traditionally safe investments
            such as property, fail to yield the returns that many investors are
            looking for, golden roads is here to chart a new path for growth. We
            explore all of these markets but also invest in newly formed
            financial universe of blockchain crypto-assets (the term used by the
            WTO instead of cryptocurrencies.). We are a fully licensed and
            regulated operation based out of the Netherlands and abide by all
            relevant EU financial directives.
          </p>
          <p>
            Our goal is to become a market leader in asset management, asset
            protection and providing high quality consultancy for companies,
            private equity firms, individual investors to take advantage of the
            blockchain revolution.
          </p>
          <p>
            With lucrative rates starting at 15% going as high as 20% in as
            little as three years, we want to grow with you long-term, not just
            have a quick fling. Our team is a skilled group, consisting of
            traders, programmers, skilled communicators and data analysts
          </p>
          <p>In being a small company we take pride in the work that we do.</p>

          <h1>What we have achieved so far</h1>
          <p>
            Here at golden roads, we’re not interested in the value of any
            particular currency no matter how high or low. Our interest is
            whether we can predict with a high deal of accuracy whether
            particular currencies such as Bitcoin, or Ethereum, Ripple and
            others are predictably becoming higher or lower.
          </p>
          <p>
            And having traded in the market for over a year, despite extreme
            changes, having started off at only $7000 we have grown our capital
            base 17 fold, and have proved our system as capable and effective.
          </p>
          <p style="margin-bottom: 5rem;">
            With already investors coming along and 1 million under management
            (Jan 2019), ontop of our own capital, we believe that we are
            providing a breakthrough solution in another wise highly
            unpredictable arena.
          </p>
          <h1>The Future is Bright</h1>
          <p>
            We have set our selves an the upper limit of about 1 billion pounds
            by 2025, with critical thresholds along the way as we grow our team
            and improve our algorithmic systems. However with system upgrades,
            there may be no upper limit in time. Our medium term goal by 2020 is
            to have atleast 100 million in management, providing the best rates
            for early investors.
          </p>
          <p>
            During this process we will also be growing and improving our
            systems. Hiring more analysts, traders, programmers and building new
            tools /technologies along the way.
          </p>
          <p>
            In a world of ICOs, volatile changes in currencies and lack of
            predicatability -- when it comes to investment in digital
            currencies, golden roads is here to shine a clear and prosperous
            path for investors willing to grow their capital simply and
            elegantly.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
