<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div 8ngIf="errors && errors.global" class="alert alert-danger">{{errors.global}}</div>
  <h1 class="display-4 text-center">Password Reset</h1>
  <p class="lead text-center">Enter new password</p>
  <form (submit)="onSubmit(resetForm)" #resetForm="ngForm" *ngIf="!isLoading">
    <mat-form-field appearance="outline">
      <input [ngClass]="{'is-invalid': errors.hasOwnProperty('password')}" type="password" name="password" ngModel matInput required
        placeholder="Password" #passwordInput="ngModel">
      <mat-error *ngIf="Object.keys(errors).length && errors.hasOwnProperty('password')">{{errors.password}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input [ngClass]="{'is-invalid': errors.hasOwnProperty('password2')}" type="password" name="password2" ngModel matInput required
        placeholder="Repeat Password" #passwordInput="ngModel">
      <mat-error *ngIf="Object.keys(errors).length && errors.hasOwnProperty('password2')">{{errors.password2}}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>
</mat-card>