<div class="services-hero"><div class="dark-overlay"></div></div>
<div class="services-page">
  <div class="row services-intro">
    <div
      style="margin: auto"
      class="col-xs-10 col-xs-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3"
    >
      <h2 class="service-heading">The process that makes us the best</h2>
      <p>
        Golden roads is a team of experienced traders who have been able to
        produce viable returns over years of practice. We are very familiar with
        the space we are working in, and consider it our bread and butter.
        Additionally, we manage our fund like a family, helping each other
        achieve our financial goals. Investors are a priority and we work to
        maintain a friendly and helpful relationships with all our clients at
        each time. Withdrawal as well as investment can be done almost
        instaneously, and information requests are responded to promptly.
        Investors can expect annual reports as well as quarterly updates.
        Additionally, we are happy to be fully transparent with our clients and
        provide them with all the sense of security they need in this exiting
        market.
      </p>
    </div>
  </div>
  <div class="row service-item even">
    <div class="container">
      <div class="service-image-container col-lg-6">
        <img
          src="../../assets/img/goldenroads-manchart.jpg"
          alt=""
          class="service-image img-responsive center-block"
        />
      </div>
      <div class="service-text col-lg-6">
        <h2 class="service-heading">Asset Growth</h2>
        <h4 class="text-muted">Grow with us</h4>
        <p>
          The stated goal of the company is a returns around 2-5% a month,
          amounting usually for investors to about 20% on annually, sometimes
          higher. Initial investments start at 15% but very quickly in three
          years are moved up tot eh maximum rate. We recognise this is a
          difficult task, however the multi market strategy is a very risk
          reduced one, even when investing in volatile markets such as digital
          assets, we use this volatility to our advantage.
        </p>
      </div>
    </div>
  </div>
  <div class="row service-item odd">
    <div class="container">
      <div class="service-image-container col-lg-6 order-lg-last">
        <img
          src="../../assets/img/protection.jpg"
          alt=""
          class="service-image img-responsive center-block"
        />
      </div>
      <div class="service-text col-lg-6 order-lg-first">
        <h2 class="service-heading">Asset Protection</h2>
        <h4 class="text-muted">Safety is paramount</h4>
        <p>
          In need of asset movement or non-disclosure? Quickly?! We can move
          assets instaneously int eh space of a day or days and have it returned
          to you for a nominal 3% fee. Golden roads provides asset protection
          for defined term periods and is able to return them efficiently and
          unscathed whenever it is required.
        </p>
      </div>
    </div>
  </div>
  <div class="row service-item even">
    <div class="container">
      <div class="service-image-container col-lg-6">
        <img
          src="../../assets/img/consultancy_company-600x380.jpg"
          alt=""
          class="service-image img-responsive center-block"
        />
      </div>
      <div class="service-text col-lg-6">
        <h2 class="service-heading">Consultancy</h2>
        <h4 class="text-muted">Know who to talk to</h4>
        <p>
          Thinking of involving your company in investing stock trading,
          blockchain technology and crypto-assets? Want to implement blockchain
          procedures to make more efficient your internal and external
          processes? Unsure of how to move forward? Our team of specialists will
          help your firm transition and take advantage of this new world,
          pointing out how your existing specialities can be transformed and
          leveraged in a booming markets. There is no shortage of land to be
          grabbed, now is the time to act. Get in touch.
        </p>
      </div>
    </div>
  </div>
</div>
